body {
    background:rgb(48,48,48);
}
h1{
    color:orange;
    font-family:'Trebuchet MS';
}
h2{
    color:orange;
    font-family:'Trebuchet MS';
}
h3{
    color:orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
h4{
    color:orange;
    font-family:'Lucida Sans', 'Lucida Sans Unicode', Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:link{color: orangered}
a:visited{color: green}
a:hover{color:gold; text-decoration:underline}
a:active{color:orange}
p {
    color: rgb(224, 224, 224);
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
li{
    color: rgb(224, 224, 224);
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    padding-bottom: 24px;
}
tr{
    color: rgb(224, 224, 224);
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
label{color: rgb(224, 224, 224);
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
hr{color: rgb(224, 224, 224)}
input[type=text]{
    width:35%;
    height: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 1.0em;
    background-color: rgb(208, 208, 208);
}
input[type=email]{
    width: 50%;
    height: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 1.0em;
    background-color: rgb(208, 208, 208);
}
input[type=submit]{
    width: 12%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 1.1em;
    background-color: rgb(208, 208, 208);
}
textarea{
    background-color: rgb(208, 208, 208);
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
